:root {
  --border-width: 1px;
  --border-color: #000;
}

.border {
  border: var(--border-width) solid var(--border-color);
}

.border-top {
  border-top: var(--border-width) solid var(--border-color);
}

.border-right {
  border-right: var(--border-width) solid var(--border-color);
}

.border-bottom {
  border-bottom: var(--border-width) solid var(--border-color);
}

.border-left {
  border-left: var(--border-width) solid var(--border-color);
}

.border-rounded-small {
  border-radius: 4px;
}

.border-rounded {
  border-radius: 8px;
}

.border-rounded-medium {
  border-radius: 16px;
}

.border-rounded-large {
  border-radius: 20px;
}
