/* Define margin values */
:root {
  --margin-xs: 5px;
  --margin-sm: 10px;
  --margin-md: 20px;
  --margin-lg: 30px;
  --margin-xl: 40px;
}

/* Apply margin to elements */
.xs-margin {
  margin: var(--margin-xs);
}

.sm-margin {
  margin: var(--margin-sm);
}

.md-margin {
  margin: var(--margin-md);
}

.lg-margin {
  margin: var(--margin-lg);
}

.xl-margin {
  margin: var(--margin-xl);
}

.margin-top {
  margin-top: var(--margin-md);
}
