/* Define padding values */
:root {
  --base-padding: 20px;
}

/* Apply padding to elements */
.padding {
  padding: var(--base-padding);
}

.padding-top {
  padding-top: var(--base-padding);
}

.padding-right {
  padding-right: var(--base-padding);
}

.padding-bottom {
  padding-bottom: var(--base-padding);
}

.padding-left {
  padding-left: var(--base-padding);
}

.padding-y {
  padding-top: var(--base-padding);
  padding-bottom: var(--base-padding);
}

.padding-x {
  padding-right: var(--base-padding);
  padding-left: var(--base-padding);
}

.padding-top-small {
  padding-top: 5px;
}

.padding-right-small {
  padding-right: 5px;
}

.padding-small {
  padding: 8px;
}

.padding-medium {
  padding: 12px;
}

.padding-large {
  padding: 16px;
}
