:root {
  color: #000000;
  background-color: #fcfcfc;
}

.content {
  display: contents;
}

.inter-primary {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
}

.ql-container.ql-snow {
  min-height: 40svh;
  border: none;
}

p:has(img) {
  max-width: 350px;
  height: auto;
}

.ql-code-block-container {
  overflow: auto;
  padding: 5px;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  color: #f3f37e;
  border-radius: 8px;
  background-color: rgb(20, 20, 20);
  unicode-bidi: -webkit-isolate;
  unicode-bidi: -moz-isolate;
  unicode-bidi: isolate;
}
