:global([data-theme="light"]) {
  color: #1D1D1D;
  background-color: #f4f0e6;
  --orange-blue: #ff3b00;
  --white-black-code: #1D1D1D;
  --yellow-blue-code: #fcfcfc;
  }

:global([data-theme="dark"]) {
  color: #FCFCFD;
  background-color: #1D1D1D;
  --orange-blue: #ff3b00;
  --white-black-code: #FFF4ED;
  --yellow-blue-code: #1D1D1D;
  }

.content {
  display: contents;
}

.ql-container.ql-snow {
  min-height: 40svh;
  border: none;
}

p:has(img) {
  max-width: 350px;
  height: auto;
}

ol li {
  margin-bottom: 5px;
  margin-left: 15px;
  padding: 5px;
  list-style-type: lower-roman;
  }

.ql-code-block-container {
  font-family: 'Andale Mono', sans-serif;
  font-size: 0.65rem;
  font-weight: 500;
  overflow: auto;
  padding: 5px;
  transition: color 0.9s, background-color 0.9s, transform 0.9s;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  color: var(--yellow-blue-code);
  border-radius: 8px;
  background-color: var(--white-black-code);
  unicode-bidi: -webkit-isolate;
  unicode-bidi: -moz-isolate;
  unicode-bidi: isolate;
}

.ql-toolbar {
  background-color: white;
  }

a {
  color: var(--orange-blue);
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--orange-blue);
  }
