// Define margin values

$margin-xs: 5px;
$margin-sm: 10px;
$margin-md: 20px;
$margin-lg: 30px;
$margin-xl: 40px;

// Apply margin to elements

.xs-margin {
  margin: $margin-xs;
}

.sm-margin {
  margin: $margin-sm;
}

.md-margin {
  margin: $margin-md;
}

.lg-margin {
  margin: $margin-lg;
}

.xl-margin {
  margin: $margin-xl;
}

.margin-top {
  margin-top: $margin-md;
}
